:root {
    --color-primero: rgb(255, 255, 255);
    --color-secundario: rgb(29, 29, 29);
    --color-tercero: rgb(226, 155, 0);
    --color-sombra: rgba(0, 0, 0, 0.7);
  }


*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body,
h2,
ul{
    margin: 0;
    padding: 0;  
}

body{
    background-color: var(--color-secundario);
}

/* Creación de grilla principal */

.contiene_todo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                         "slider slider slider slider"
                         "main main main main"
                         "footer footer footer footer";
}

.header{
    grid-area: header;
}

.slider{
    grid-area: slider;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}


/* menu principal */

.header{
    width: 100%;
    padding: 15px 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
}

.h2 a{
    text-decoration:none;
    color: var(--color-primero);
}

.button{
    background:none;
    border: none;
}

.burguer_menu{
    color: var(--color-primero);
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.burguer_menu:hover{
    background-color: var(--color-secundario);
}

.button_carrito{
    background-color: transparent;
    border: none;
    text-decoration: none;
    position: relative;
}

.button_carrito span{
    text-decoration: none;
    color: var(--color-primero);
    font-weight: 500;
    position: absolute;
    right: 1px;
    bottom: 0;
    background-color: var(--color-tercero);
    display: inline-block;
    padding: 0 7px;
    border-radius: 50%;
}

.carrito{
    font-size: 25px;
    color: var(--color-primero);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.carrito:hover{
    background-color: var(--color-secundario);
    color: var(--color-tercero);
}

.header_nav{
    background-color: var(--color-secundario);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--color-sombra);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    pointer-events: none; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav.activado{
    height: 35vh;
    pointer-events: auto; 
}

.nav_ul{
    list-style: none;
    padding: 10px 0;
    background-color: var(--color-secundario);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5em;
}

.nav_ul_li a{
    text-decoration: none;
    color: var(--color-primero);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: color .5s ease;
}

.nav_ul_li a:hover{
    color: var(--color-tercero);
}

/*Clase para agregar al header cuando hacemos scroll*/

.header-bg-scroll{
    background-color: var(--color-secundario);
    box-shadow: 0 10px 20px black;
}

/* portada o slider */


.slider{
    width: 100%;
    height: 100vh;
    background-image: url(../images/pizza-portada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-primero);
    position: absolute;
}
 .imagenes_comidas img{
    width: 100%;
    filter: contrast(1.2) saturate(1.2);
 }

 .slider h1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
 }

 .slider-text{
    text-align: center;
    border-left: 3px solid var(--color-primero);
    border-right: 3px solid var(--color-primero);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
 }

 .slider-text h2{
    letter-spacing: 2px;
    font-weight: 400;
 }

 .slider-text p{
    letter-spacing: 1.5px;
 }

.oscurecer{
    width: inherit;
    height: inherit;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.038252801120448154) 0%, rgba(0,0,0,0.5) 66%);display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/* main */

 .main{
    margin-top: 105vh;
    margin-bottom: 500px;
 }

 .main h2{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-secundario);
    margin: 0;
    padding: 0;
    background-color: var(--color-tercero);
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
 }

 .margin-top{
    margin-top: 100px;
 }

 /* cards */

 .contiene-imagen{
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
 }

 .contiene-imagen img{
    width: 100%;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
 }

 .contiene-textos{
    color: var(--color-primero);
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .contiene-textos button{
    background-color: var(--color-tercero);
    border: 3px solid var(--color-primero);
    color: var(--color-secundario);
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    transition: all .3s ease;
 }

 .contiene-textos button:hover{
    background-color: var(--color-secundario);
    color: var(--color-primero);
    transform: scale(1.1);
 }

/* Estilos al carrito de compras */

.textos_carrito{
    color: var(--color-primero);
}

 /********ESTILOS A LOS titulos y BOTONES DEL CARRITO*********/

 .total-compra{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }

 .total-compra h3{
    color: var(--color-primero);
    font-size: 25px;
 }

 .total-compra h3 span{
    font-size: 30px;
    letter-spacing: 1.5px;
 }

 .botones-carrito{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
 }

 .botones-carrito button{
    background-color: var(--color-tercero);
    border: 3px solid var(--color-primero);
    color: var(--color-secundario);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    transition: all .3s ease;
 }

 .botones-carrito button:hover{
    transform: scale(1.1);
    background-color: var(--color-secundario);
    color: var(--color-primero);
 }


/********ESTILOS AL CARRITO*********/

.contiene-el-carrito{
    margin-top: 50px;
    width: 90%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.pizza-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    border-bottom: 2px solid var(--color-primero);
}

.pizza-carrito img{
    width: 50px;
    height: 50px;
}

.contiene-textos-carrito{
    color: var(--color-primero);
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.contiene-textos-carrito h3{
    font-size: 14px;
    margin: 0;
}

.pizza-carrito button{
    background: none;
    outline: none;
    border: none;
}

.pizza-carrito button i{
    color: red;
    background-color: aliceblue;
    border-radius: 2px;
    font-size: 20px;
    border: 2px solid rgb(255, 255, 255);
}

.pizza-carrito button i:hover{
    color: var(--color-primero);
    background-color: red;
}


 /* footer */

 .footer{
    background-color: var(--color-tercero);
    color: var(--color-primero);
 }

 .footer h2{
    text-align: center;
 }

@media screen and (min-width:760px){

    .header{
        height: max-content;
        padding: 3px 3px;
    }

    .h2 a{
        margin-left: 30px;
    }

    .header_nav{
        background-color: transparent;
        width: fit-content;
        display: block;
        height: 55px;
        box-shadow: none;
        pointer-events: all;
        transition: none;
        margin-right: 20px;
        overflow: visible;
        order: 0;
    }
    .header_nav.activado{
        flex-direction: row;
        height: fit-content;
    }

    .nav_ul{
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        background:none;
        gap: 0;
        padding: 0 30px;
    } 
    
    .nav_ul_li a{
        display: inline-block;
        padding: 18px 15px;
        border-radius: 5px;
        transition: all .4s ease;
    }

    .nav_ul_li a:hover{
        color: var(--color-tercero);
        background-color: var(--color-secundario);
        box-shadow: 0 4px 15px var(--color-sombra);
    }

    .button{
        display: none;
    }

    .button_carrito{
        order: 1;
        margin-right: 30px;
    }

    .button_carrito i{
        font-size: 30px;
    }

    /* slider */

    .slider h1{
        font-size: 45px;
    }

    .pizzas{
        width: 85%;
    }

    /* imagenes del carrito */

    .pizza-carrito img{
        width: 100px;
        height: 100px;
    }

    .contiene-textos-carrito h3{
        font-size: 16px;
        margin: 0;
    }

}

@media screen and (min-width:960px){
    .contiene-la-card{
        width: 100%;
        justify-content: center;
        gap: 40px;
        margin-bottom: 10px;
    }
}