:root {
    --color-primero: rgb(255, 255, 255);
    --color-secundario: rgb(29, 29, 29);
    --color-tercero: rgb(226, 155, 0);
    --color-sombra: rgba(0, 0, 0, 0.7);
  }


*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body,
h2,
ul{
    margin: 0;
    padding: 0;  
}

body{
    background-color: var(--color-secundario);
}

/* Creación de grilla principal */

.contiene_todo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                         "slider slider slider slider"
                         "main main main main"
                         "footer footer footer footer";
}

.header{
    grid-area: header;
}

.slider{
    grid-area: slider;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}


/* menu principal */

.header{
    width: 100%;
    padding: 15px 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.h2 a{
    text-decoration:none;
    color: var(--color-primero);
}

.button{
    background:none;
    border: none;
}

.burguer_menu{
    color: var(--color-primero);
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.burguer_menu:hover{
    background-color: var(--color-secundario);
}

.button_carrito{
    background-color: transparent;
    border: none;
}

.carrito{
    font-size: 25px;
    color: var(--color-primero);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.carrito:hover{
    background-color: var(--color-secundario);
}

.header_nav{
    background-color: var(--color-secundario);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--color-sombra);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    pointer-events: none; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav.activado{
    height: 35vh;
    pointer-events: auto; 
}

.nav_ul{
    list-style: none;
    padding: 10px 0;
    background-color: var(--color-secundario);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5em;
}

.nav_ul_li a{
    text-decoration: none;
    color: var(--color-primero);
    font-weight: 900;
    letter-spacing: 2px;
    transition: color .5s ease;
}

.nav_ul_li a:hover{
    color: var(--color-tercero);
}

/* portada o slider */


.slider{
    width: 100%;
    height: 100vh;
    background-image: url(../images/pizza-portada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-primero);
    position: absolute;
}
 .imagenes_comidas img{
    width: 100%;
    filter: contrast(1.2) saturate(1.2);
 }

 .slider h1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
 }

 .slider-text{
    text-align: center;
    border-left: 3px solid var(--color-primero);
    border-right: 3px solid var(--color-primero);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
 }

.oscurecer{
    width: inherit;
    height: inherit;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.038252801120448154) 0%, rgba(0,0,0,0.5) 66%);display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/* main */

 .main{
    margin-top: 110vh;
    margin-bottom: 500px;
 }

 .main h2{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-secundario);
    margin: 0;
    padding: 0;
    background-color: var(--color-tercero);
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
 }

 .pizzas{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }

 .comidas{
    margin-top: 30px;
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: .2px solid rgb(218, 211, 211);
    padding-bottom: 20px;
    border-radius: 20px;
    transition: transform .5s ease;
 }

 .comidas:hover{
    transform: scale(1.1);
    border: 3px solid var(--color-tercero);
 }

 .comidas img{
    width: 100%;
    height: 200px;
 }

 .textos_de_producto .comidas_titulo{
    margin: 5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: var(--color-primero);
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
 }

 .textos_de_producto p{
    color: var(--color-primero);
    margin: 0;
    padding: 0 10px; 
 }

 .textos_de_producto span{
    display: block;
    font-weight: 700;
    padding: 2px;
 }

 .textos_de_producto .comidas_a{
    display: inline-block;
    border: 2px solid var(--color-primero);
    padding: 5px 20px;
    text-decoration: none;
    color: var(--color-primero);
    font-weight: 700;
    border-radius: 10px;
    transition: all .5s ease;
 }

 .comidas_carrito_icono{
    color: var(--color-tercero);
 }

 .precio_antes{
    margin-top: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.623);
    text-decoration: line-through;
 }

 .precio_actual{
    color: var(--color-tercero);
    font-size: 20px;
    margin-bottom: 10px;
 }


 .textos_de_producto .comidas_a:hover{
    background-color: var(--color-tercero);
    color: var(--color-secundario);
    border-color: var(--color-secundario);
 }

 .textos_de_producto .comidas_a:hover .comidas_carrito_icono{
    color: var(--color-secundario);
 }


 /* footer */

 .footer{
    background-color: var(--color-tercero);
    color: var(--color-primero);
 }

 .footer h2{
    text-align: center;
 }

@media screen and (min-width:760px){

    .header{
        height: max-content;
        padding: 3px 3px;
    }

    .h2 a{
        margin-left: 30px;
    }

    .header_nav{
        background-color: transparent;
        width: fit-content;
        display: block;
        height: 55px;
        box-shadow: none;
        pointer-events: all;
        transition: none;
        margin-right: 20px;
        overflow: visible;
        order: 0;
    }
    .header_nav.activado{
        flex-direction: row;
        height: fit-content;
    }

    .nav_ul{
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        background:none;
        gap: 0;
        padding: 0 30px;
    } 
    
    .nav_ul_li a{
        display: inline-block;
        padding: 18px 15px;
        border-radius: 5px;
        transition: all .4s ease;
    }

    .nav_ul_li a:hover{
        color: var(--color-tercero);
        background-color: var(--color-secundario);
        box-shadow: 4px 4px 7px var(--color-sombra);
    }

    .button{
        display: none;
    }

    .button_carrito{
        order: 1;
        margin-right: 30px;
    }

    .button_carrito i{
        font-size: 30px;
    }

    /* slider */

    .slider h1{
        font-size: 45px;
    }

    .pizzas{
        width: 85%;
    }
}